h1 {
    color: black; font-family: "微軟正黑體";
    }
h2 {
    color: black; font-family: "微軟正黑體";
}
p {
    color: black; font-family: "微軟正黑體";
} 
table {
    background-color: rgba(0,0,120,0.25); font-family: "微軟正黑體";
}
#header{
    background-color: blueviolet;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: blue;
    font-family: "微軟正黑體";
}
#siderbar_left{
    background-color: black;
    width: 15%;
    height: 800px;
    text-align:center;
    line-height: 20px;
    float:left;
}
#siderbar_right{
    background-color: black;
    width: 15%;
    height: 800px;
    text-align:center;
    line-height: 20px;
    float:right;
}